@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');


:root {
    --primary: #002855;
    --secondary: #666;
    --tertiary: #fff;
    --quart: #5EB948;
}

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Event form */

#logos {
    text-align: center;
}

#logos img {
    width: 150px;
    margin: auto;
    padding: .4em;
}

.beneficium {
    width: 100%;
    background-color: var(--primary);
}

#head-page {
    height: 85vh;
    width: 98.9vw;
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--tertiary);
}

#disclaimer h2, 
#disclaimer .more-benefits {
    color: var(--quart);
}

#disclaimer h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

#disclaimer .about-product {
    font-size: 2em;
    text-transform: uppercase;
    max-width: 450px;
    font-weight: bold;
    margin-bottom: 1em;
    line-height: 1em;
}

#disclaimer p {
    font-size: 1.2em;
    margin-bottom: .3em;
}

#disclaimer .more-benefits {
    font-weight: bold;
    max-width: 450px;
}

#subscription-form {
    background-color: var(--tertiary);
    color: #002855;
    padding: 2em;
    max-width: 22%;
}

#subscription-form p {
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.2em;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .8em;
}

.form-group label {
    margin-bottom: .3em;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: lightgray;
}

.termos {
    font-size: .9em;
    margin-bottom: .8em;
    text-align: justify;
    color: #002855;
}

.termos a {
    text-decoration: none;
    color: #002855;
}

.btn {
    background-color: #5EB948;
    color: var(--tertiary);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: .8;
}

.btn:hover {
    opacity: 1;
}

/* Benefits Section */
#key-benefits h2 {
    background-color: var(--quart);
    text-align: center;
    padding: 1em;
    font-weight: bold;
    color: var(--tertiary);
    text-transform: uppercase;
}

#key-benefits-2 h2 {
    background-color: var(--quart);
    text-align: center;
    padding: 1em;
    font-weight: bold;
    color: var(--tertiary);
    text-transform: uppercase;
}
#video{
    padding: 2em;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
#video-describe{
    max-width: 38%;
    text-align: justify;
    padding: 2em;
    margin-left: 10%;
}
#video-benefits{
    max-width: 52%;
    padding: 1em;
}
.benefits {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    width: 80%;
    margin: 0 auto;
}

.benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--secondary);
    font-size: 1em;
}

.benefit .benefit-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#benefit-1 {
    background-image: url('img/24-7.png');
}
#benefit-2 {
    background-image: url('img/conjuge-filhos.png');
}
#benefit-3 {
    background-image: url('img/acidentes-pessoais.png');
}
#benefit-4 {
    background-image: url('img/assist-residencial.png');
}
#benefit-5 {
    background-image: url('img/sorteio-mensal.png');
}

.zap a {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1em;
    font-weight: bold;
    color: var(--tertiary);
}

.product-text {
    padding: 1.6em;
    margin: 0 auto;
    width: 80%;
    text-align: justify;
    font-weight: 500;
    font-size: .7em;
    color: white;
    text-decoration: none;
}

#video-benefits > iframe{
    width: 560px;
    height: 315px;
    background-color: var(--primary);
}


#social > a{
    font-size: 24px;
    padding: .2em;
    width: 2%;
    color: white;
    margin: auto;
}



/* MOBILE */

@media (max-width: 625px) {
    /*EVENT FORM*/
    #head-page {
        flex-direction: column;
        height: auto;
        width: auto;
    }
    #disclaimer {
        padding: 2em;
    }
    #disclaimer h2 {
        margin-bottom: .5em;
    }
    #subscription-form {
        max-width: 70%;
        margin-bottom: 2em;
    }
    .benefits {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
    }
    .benefit{
        max-width: 100%;
        margin: 2em;
    }
    .zap a {
        bottom: 20px;
        right: 10px;
    }
    #video {
        flex-direction: column;
        width: 97%;
        justify-content: center;
    }
    #video-describe {
        max-width: 100%;
        text-align: justify;
        margin-left: 0;
    }
    footer {
        width: auto;
        height: auto;
    }
    #video-benefits > iframe {
        width: 400px;
        margin-left: -88%;
        
    }
    .product-text {
        color: white;
        text-decoration: none;
        padding: .8em;
        width: 90%;
    }
    .product-text a {
        color: white;
        text-decoration: none;
    }
}